.guide {
  background-color: #1d2027;
  color: #fff;
  height: 50vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: linear-gradient(220.55deg, #1c1815 0%, #46425a 100%);
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #144054 0%, #14493a 100%);
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(180deg, #2a9dd3 0%, #23daa6 100%);
    }
  }
  .guide_header {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .guide_content {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 10px;
      color: #b15cdf;
    }
  }
}
