.boss {
  width: 100%;
  height: 100%;
  background-color: #131418;
  display: flex;
  flex-direction: column;
  .header {
    flex: 1;
    width: 100%;
    background-color: #1b1e24;
    border-radius: 10px;
    .header_System {
      color: #fff;
      margin-left: 10px;
      padding: 10px 0;
    }
    .header_footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      .header_footer_top {
        flex: 1;
        display: flex;
        flex-direction: column;
        .log_path_leven {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          span {
            margin-left: 10px;
            transform: translateY(2px);
            width: 200px;
            display: inline-block;
            color: #fff;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .header_footer_footer {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        .date {
          color: #fff;
          font-size: 14px;
          line-height: 14px;
          margin-top: 3px;
          margin-left: 7px;
        }
      }
    }
  }
  .main {
    flex: 1;
    width: 100%;
    margin: 15px 0;
    display: flex;
    .main_left {
      flex: 2;
      margin-right: 15px;
      background-color: #21252d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .autoDeliverBtn {
        background-color: #2b9d7c;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 15px rgba(43, 157, 124, 0.7);
        }
      }
      .pauseBtn {
        color: #aaaaaa;
        border: 1px dashed #aaaaaa;
        &:hover {
          background-color: #2a2e35;
        }
      }
    }
    .main_right {
      flex: 3;
      background-color: #21252d;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .encouragementText {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
    }
  }
  .footer {
    flex: 3;
    // max-height: 100%;
    background-color: #1b1e24;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: linear-gradient(220.55deg, #1c1815 0%, #46425a 100%);
      border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #144054 0%, #14493a 100%);
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: linear-gradient(180deg, #2a9dd3 0%, #23daa6 100%);
      }
    }
    .footer::-webkit-scrollbar {
      display: none;
    }
    .footer_left {
      padding: 20px;
      .select {
        width: 200px;
        :global {
          .ant-select-selector {
            background-color: #2a2e35;
            border: 1px solid #3a3d45 !important;
            box-shadow: none !important;
            color: #fff;
          }
          .ant-select-selection-wrap,
          .ant-select-selection-placeholder {
            color: #fff !important; // 你想要的提示文字颜色
            opacity: 1 !important; // 防止有些浏览器默认透明
          }
        }
      }
    }
    .footer_right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
